#navbar {
    border: 0px solid black;
    padding: 10px;
    margin-top: 10px;
}
#topline{
    border: 0px solid blue;
    height: 70px;
    display: flex;
    padding: 15px;
    gap: 30px;
    
}
#topline-left{
    border: 0px solid blue;
    width: 40%;
    display: flex;
    gap: 18px;

    font-family:  "Futura-Medium", "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    margin-left: 50px;
    cursor: pointer;

    
}

#topline-right{
    border: 0px solid blue;
    width: 50%;
    display: flex;
    gap: 25px;
    font-family:  Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #757575;
    cursor: pointer;
    

}
#signup{
    margin-left: 170px;
}

#logo{
    text-align: center;
    height: 200px;
}
#logo img{
    width: 170px;
   
    margin-right: 10px;
    margin-top: -25px;
    cursor: pointer;
}
#bottomline{
    border: 0px solid blue;
    height: 70px;
    display: flex;
    padding: 15px;
    gap: 25px;
    margin-top: -70px;
    
}
#bottomline-left{
    border: 0px solid blue;
    width: 70%;
    display: flex;
    gap: 18px;

    font-family:  "Futura-Medium", "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #757575;
    margin-left: 50px;
    cursor: pointer;
    line-height: 50px;
}
    
  #bottomline-right{
    border: 1px solid gray;
    width: 18%;
    height: 35px;
    display: flex;
    gap: 20px;
    padding: 10px;
    font-family:  Arial, Helvetica, sans-serif;
    font-style: normal;
    /* font-weight: 700; */
    font-size: 13px;
    margin-top: 7px;
}
#bottomline p{
       margin-top: -4px;
}
   #search{
    width: 18px;
    margin-left: 100px;
   }
    #hr{
        margin-top: -3px;
    }

   