#top_types{
    width: 92%;
    height: 100px;
    margin: auto;
    /* border: 1px solid red; */
    
}
#animation{
    /* border: 1px solid red; */
    height: 50%;
}
#types{
    display: flex;
    margin-bottom: 0px;
    /* border: 1px solid blue; */
    justify-content: space-between;
}
#left_type{
    width: 35%;
    display: flex;
    /* border: 1px solid green; */
    justify-content: space-around;
}
#right_type{
    width: 35%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
}
#right_type button{
    border: none;
    background-color: transparent;
    color: gray;
    width: 5px;
}

#select{
    border: 0px;
    width: 80px;
    color: gray;
}
#btn_h2{
    color: gray;
}
#left_type p{
    color: gray;
}

#mid_section{
    width: 100%;
    display: flex;
    height: auto;
    margin: auto;
    justify-content: space-between;
}
#left_filter{
    width: 27%;
    /* border: 1px solid green; */
    
}
#right_product{
    width: 69%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
#right_product div{
    border: 1px solid black;
     text-align: center;
}
#bottom_page button{
border: none;
color: gray;

}
#bottom_page{
    margin-left: 87%;
}
#left_filter h6{
    color: gray;
}
section{
    width: 100%;
    
}
section h6{
    color: black;
   
    display: inline-block;
}
.cat_list p{
    
  
    margin-bottom: 0px;
}
#angledown{
    margin-left: 76%;
    /* border: 1px solid red; */
    cursor: pointer;
}

#cat_{
    /* border: 1px solid red; */
    display: flex;
}

#angleup{
    visibility: hidden;
    margin-left: 76%;
    /* border: 1px solid red; */
    cursor: pointer;
    /* border: 1px solid red; */
    margin-top: 0px;
    
}
#cat_h6{
    visibility: hidden;
    /* border: 1px solid red; */
}

/* ----------------designer */
#cat_sec2{
    width: 100%;
    
}
section h6{
    color: black;
   
    display: inline-block;
}
.cat_list2 p{
    
  
    margin-bottom: 0px;
}
#angledown2{
    
    margin-left: 76%;
    /* border: 1px solid red; */
    cursor: pointer;
   
}

#cat_2{
    /* border: 1px solid red; */
    display: flex;
}

#angleup2{
    visibility: hidden;
    margin-left: 76%;
    /* border: 1px solid red; */
    cursor: pointer;
    /* border: 1px solid red; */
    margin-top: 0px;
}
/* -------------------colours------- */
#cat_sec3{
    width: 100%;
    
}
section h6{
    color: black;
   
    display: inline-block;
}
.cat_list3 p{
    
  
    margin-bottom: 0px;
}
#angledown3{
    margin-left: 78%;
    /* border: 1px solid red; */
    cursor: pointer;
}

#cat_3{
    /* border: 1px solid red; */
    display: flex;
}

#angleup3{
    visibility: hidden;
    margin-left: 78%;
    /* border: 1px solid red; */
    cursor: pointer;
    /* border: 1px solid red; */
    margin-top: 0px;
}

 /* patterns------------- */
 #cat_sec4{
    width: 100%;
    
}
section h6{
    color: black;
   
    display: inline-block;
}
.cat_list4 p{
    
  
    margin-bottom: 0px;
}
#angledown4{
    margin-left: 77%;
    /* border: 1px solid red; */
    cursor: pointer;
   
}

#cat_4{
    /* border: 1px solid red; */
    display: flex;
}

#angleup4{
    visibility: hidden;
    margin-left: 78%;
    /* border: 1px solid red; */
    cursor: pointer;
    /* border: 1px solid red; */
    margin-top: 0px;
}
.wrap_inline{
    display: flex;
}
#cat2_h6{
    visibility: hidden;
    /* border: 1px solid red; */
}
#cat3_h6{
    visibility: hidden;
    /* border: 1px solid red; */
}
#cat4_h6{
    visibility: hidden;
    /* border: 1px solid red; */
}
#uncheck:hover{
    border: 0px;
    background-color: gray;
}

#right_product{
    text-align: center;
}
#right_product p{
    margin-bottom: 1px;
}

#right_product img{
    width: 100%;
    height: 70%;
    
    }
    #right_product button{
width: 45%;
background-color: gray;
color: white;
margin: 5px;
border: 0px;
    }
    #right_product button:hover{
        background-color: rgb(188, 178, 178);
        color: rgb(57, 50, 50);
    }
    #bottom_page button:hover{
        color: black;
    }
    #right_product div{
        border: 0px;
    }
