@import url("./navbar.css");

.fa-regular{
  color: rgb(198, 198, 198);
}
/* Middle Section */
#wishContainer{
  width: 80%;
  margin: auto;
  border: 1px solid red;
  display: flex;
}

/* Filter Section */
#wishFilter{
  flex: 3;
  border: 1px solid green;
  padding: 10px;
}
#wishFilterHead{
  font-size: 15px;
  font-family: "Futura-Medium", "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}
.wishFilterBody{
  font-size: 14px;
  color: gray;
  font-family: sans-serif;
}

/* Items Section */
#wishItems{
  flex: 8;
  border: 1px solid blue;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.wishCard{
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
.wishCardTop{
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
}
.fa-xmark{
  font-size: 18px;
}
.wishCardImage{
  width: 100%;
}
.wishCardName{
  font-size: 15px;
}
.wishCardDesc{
  color: gray;
  transition: 300ms;
  cursor: pointer;
}
.wishCardDesc:hover{
  color: black;
  transition: 300ms;
}
.wishCardPrice{
  font-weight: 700;
  font-size: 14px;
}
.wishCardMoveToBag{
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: "Futura-Medium", "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  padding: 8px;
  transition: 500ms;
}
.wishCardMoveToBag:hover{
  background-color: gray;
  transition: 500ms;
}


#wishFlex{
  width: 80%;
  margin: auto;
  height: 200px;
  border: 1px solid green;
  display: flex;
  justify-content: space-evenly;
}
#wishChild1{
  height: 200px;
  width: 48%;
  border: 1px solid blue;
}
#wishChild2{
  height: 200px;
  width: 48%;
  border: 1px solid yellow;
}